.contianer{
    position: relative;
}


.refresh {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 25px;
   
}





@media (max-width: 900px) {
    .refresh {
        width: calc(100% - 50px);
    }
}
