.modal {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 4;
    backdrop-filter: blur(4px);
    display: flex;

    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--color-secondary);
    max-width: 850px;
    width: 540px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(158, 155, 155);
}

.innerContainer::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
.innerContainer::-webkit-scrollbar-track {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #aca2ac;
}

.innerContainer::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color-tirnary);
}

.innerContainer {
    position: relative;
    overflow: auto;
    min-height: 330px;
}
.icon {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 35px;
}
.buttonsContainer button {
    padding: 6px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--color-tirnary);
    color: inherit;
    transition: all 0.1s;
}
.buttonsContainer button:hover {
    background-color: rgb(161, 156, 170);
    color: white;
}
.buttonsContainer button.activeButton {
    background-color: rgb(175, 174, 174);;
    color: var(--color-tirnary);
}

.customTooltip {
    background-color: rgba(128, 128, 128, 0.245);
    padding: 20px;
    border-radius: 5px;
    color: white;
}
.customTooltip p:nth-child(1) {
    margin-bottom: 5px;
}

@media (max-width: 900px) {
    .container {
        max-width: calc(100% - 50px);
    }
}
