.container {
    margin: 20px auto;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .button {
    width: 70px;
    border: none;
    outline: none;
    padding: 6px;
    border-radius: 5px;
    background-color: rgb(85, 30, 161);
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    transition: all 0.1s;
}
.container .button:disabled,
.container .button:disabled:hover {
    background-color: rgb(131, 112, 158);
    cursor: not-allowed;
    color: inherit;
}

.container .button:hover {
    background-color: rgba(85, 30, 161, 0.695);
    color: white;
}

.container span {
    font-size: large;
    font-weight: 600;
}
