.container {
    background-color: rgba(255, 255, 255, 0.077);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgb(231, 231, 231);
    border-top-color: rgb(84, 30, 161);
    border-radius: 50%;
    animation: spinner-loader 0.9s infinite ease-in-out;
}

@keyframes spinner-loader {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}
